<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="./lib/bootstrap-icons/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./dist/css/bootstrap-admin.min.css">
  <title>bootstrap-admin开源免费响应式后台管理系统模板</title>
</head>
<body class="bg-body-tertiary py-3">
<div class="min-vh-100 d-flex justify-content-center align-items-center bg-body-tertiary py-3">
  <div class="px-2">
    <div class="container-fluid">

      <div class="bsa-error-code">
        404
      </div>
      <div class="bsa-error-text">您访问的资源不存在喵~</div>
    </div>
  </div>
</div>

<!--回到顶部开始-->
<a href="javaScript:" class="bsa-back-to-top"><i class='bi bi-arrow-up-short'></i></a>
<!--回到顶部结束-->

<script src="./lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="./lib/jquery/dist/jquery.min.js"></script>
<script src="./dist/js/bootstrap-admin.min.js"></script>
</body>
</html>